<h3 class="show-title">Results</h3>

<ol>
  <%= @results[:items].each do |item| %>
    <li>
      <h4><a href=<%= item[:link] %>><%= item[:title] %></a></h4>
      <span><%= item[:link] %></span>
      <br />
      <div>
        <p text-overflow="ellipsis">
          <%= item[:snippet] %>
        </p>
      </div>
    </li>
  <% end %>
</ol>
