<!DOCTYPE html>
<html>
  <head>
    <title>GoogleCSE</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-header">
      <h1 style="text-align: center;padding-bottom: .5em;border-bottom: solid;"> <%= image_tag "rails.png", style: "display:inline-block;" %>
Brian's Custom Search for RubyOnRails.org</h1>
    </div>
    <%= yield %>
  </body>
